/* Global Variables */
:root {
  --background-color: #87CEFA;
  --border-color: black;
  --green-color: green;
  --grey-color: grey;
  --red-color: red;
  --dark-grey-color: #696969;
}

/* Font Face Declaration */
@font-face {
  font-family: ArcadeFont;
  src: url("ARCADECLASSIC.ttf");
}

/* Box-Sizing for Consistency */
*, *::before, *::after {
  box-sizing: border-box;
}

/* General Layout Styles */
body {
  background-color: var(--grey-color);
  font-family: ArcadeFont;
}

/* Game Board Styles */
#gameBoard {
  display: none;
  width: 700px;
  height: 446px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  margin: auto;
}

/* Board Cell Styles */
.boardCell {
  height: 10px;
  width: 10px;
}

/* Grid Movement Styles */
#gridMovement {
  width: 700px;
  height: 446px;
  border: 5px solid var(--border-color);
  margin: auto;
}

/* Welcome Screen and Info Score Styles */
#welcomeScreen, #infoScore {
  width: 500px;
  border: 2px solid var(--border-color);
  margin: auto;
  text-align: center;
  font-family: ArcadeFont;
  font-size: 30px;
  padding: 5px;
  background-color: var(--green-color);
}

#welcomeScreen {
  height: 500px;
  border-radius: 3px;
}

#infoScore {
  height: 70px;
  border-radius: 10px;
  display: none;
  position: static;
  border-color: var(--dark-grey-color);
}

/* Footer Styles */
footer {
  padding: 1em;
  color: white;
  background-color: var(--border-color);
  clear: left;
  text-align: center;
}

/* Snake and Fruit Styles */
.snakeBody, .snakeHead, .fruitCell {
  border-radius: 3px;
}

.snakeBody {
  background-color: var(--border-color);
}

.snakeHead {
  background-color: var(--green-color);
}

.fruitCell {
  background-color: var(--red-color);
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  #gameBoard, #gridMovement {
      width: 100%;
      height: auto;
  }
}
